apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "haproxy-k8s-sync.fullname" . }}-config
  labels:
    app.kubernetes.io/name: {{ include "haproxy-k8s-sync.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  ingress_namespace: {{ .Values.env.ingressNamespace | quote }}
  ingress_service_name: {{ .Values.env.ingressServiceName | quote }}
