replicaCount: 1

image:
  repository: ghcr.io/vtarmo/k8s-haproxy
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""
  annotations: {}

rbac:
  create: true

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

podAnnotations: {}
podLabels: {}

nodeSelector: {}
tolerations: []
affinity: {}

env:
  ingressNamespace: ingress-nginx
  ingressServiceName: ingress-nginx
  workerCount: 2
  resyncPeriod: 30s
  haproxy:
    dataplaneURL: http://haproxy:5555
    username: ""
    password: ""
    token: ""

livenessProbe:
  enabled: true
  path: /healthz
  initialDelaySeconds: 5
  periodSeconds: 10

readinessProbe:
  enabled: true
  path: /readyz
  initialDelaySeconds: 5
  periodSeconds: 10
